.message
  .message-upper
    .message-upper__user-name
      = message.user.name
    .message-upper__time
      = message[:created_at].to_s
  .message-lower
    - if message.content.present?
      %p.message-lower__text
        = message.content
    = image_tag message.image.url, class: 'message-lower__image' if message.image.present?
