!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}

.side_bar
  .user
    .user__name
      %P taiki

  .groups
    .group
      .group__name
        sample group
      .group__message
        Hello World

    .group
      .group__name
        sample group
      .group__message
        まだメッセージありません。
