.side-bar
  .user
    .user__name
      taiki
    %ul.user__elements
      %ls.cog
      %i.far.fa-edit
      %ls.edit
      %i.fa.fa-cog

  .group-list
    .group
      .group__name
        sample group
      .group__message
        Hello World

    .group
      .group__name
        group名
      .group__message
        まだメッセージありません。

    .group
      .group__name
        group名
      .group__message
        まだメッセージありません。


.contents
  .header
    .header-left
      .header-left__group
        sampleグループ
        %ul.header-left__members
          Member：
          %li.member
            aメンバー
          %li.member
            bメンバー
          %li.member
            cメンバー
    .header-right
      Edit
  .main-content
    .message
      .message-upper
        .message-upper__user-name
          ユーザー
        .message-upper__time
          2018/08/21
      .message-lower
        .message-lower__text
          メッセージテキスト

      .message
      .message-upper
        .message-upper__user-name
          ユーザー
        .message-upper__time
          2018/08/21
      .message-lower
        .message-lower__text
          メッセージテキスト

        .message
      .message-upper
        .message-upper__user-name
          ユーザー
        .message-upper__time
          2018/08/21
      .message-lower
        .message-lower__text
          メッセージテキスト

.footer
