.side-bar
  .user
    .user__name
      taiki
    %ul.user__elements
      %ls.cog
      %i.far.fa-edit
      %ls.edit
      %i.fa.fa-cog

  .group-list
    .group
      .group__name
        sample group
      .group__message
        Hello World

    .group
      .group__name
        group名
      .group__message
        まだメッセージありません。

    .group
      .group__name
        group名
      .group__message
        まだメッセージありません。


.contents
  .header
    .header-left
      .header-left__group
        sampleグループ
        %ul.header-left__members
        %li.member
          aメンバー
        %li.member
          bメンバー
        %li.member
          cメンバー
    .header-right


.footer
